.header-top {
  background-color: #5abc00;
}

.inicio-cuadros .btn-microsoft-01 {
  background-color: #5abc00;
  border-color: #5abc00;
}

.inicio-cuadros .btn-microsoft-02 {
  background-color: #5abc00;
  border-color: #5abc00;
}

.inicio-cuadros .btn-microsoft-03 {
  background-color: #5abc00;
  border-color: #5abc00;
}


.cont-microsoft {
  background-color: #ffffff;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cont-microsoft-01 {
  border-top: 5px solid #5abc00;
}

.cont-microsoft-02 {
  border-top: 5px solid #5abc00;
}

.cont-microsoft-03 {
  border-top: 5px solid #5abc00;
}













