
.header-top {
  background-color: #ff6230;
}




.inicio-cuadros h3 {
  padding-top: 0px;
}





.inicio-cuadros .btn-microsoft-01 {
  background-color: #ff6230;
  border-color: #ff6230;
}

.inicio-cuadros .btn-microsoft-02 {
  background-color: #ff6230;
  border-color: #ff6230;
}

.inicio-cuadros .btn-microsoft-03 {
  background-color: #ff6230;
  border-color: #ff6230;
}


.cont-microsoft {
  background-color: #ffffff;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cont-microsoft-01 {
  border-top: 5px solid #ff6230;
}

.cont-microsoft-02 {
  border-top: 5px solid #ff6230;
}

.cont-microsoft-03 {
  border-top: 5px solid #ff6230;
}












